<%= turbo_stream_from @channel %>
<%= turbo_stream_from @channel, :users %>

<div class="channel-view" data-controller="channel">
  <header class="header">
    <span class="name"><%= @channel.name %></span>
    <span class="topic"><%= @channel.topic %></span>
    <%= button_to "Leave", channel_path(@channel), method: :delete, class: "leave", data: { turbo_confirm: "Leave #{@channel.name}?" } %>
  </header>

  <div class="messages"
       data-controller="message-list"
       data-channel-target="messages"
       data-message-list-channel-id-value="<%= @channel.id %>">
    <div id="messages">
      <%= render partial: "messages/message", collection: @messages %>
    </div>
    <div class="new-messages-indicator hidden" data-message-list-target="newIndicator" data-action="click->message-list#scrollToNew">
      New messages below
    </div>
  </div>

  <div class="input">
    <%= render "messages/form", channel: @channel %>
  </div>
</div>

<% content_for :userlist do %>
  <div id="channel_<%= @channel.id %>_user_list">
    <%= render "channels/user_list", channel: @channel %>
  </div>
<% end %>
