<%= turbo_stream_from @channel %>
<%= turbo_stream_from @channel, :users %>

<div class="channel-view" data-controller="channel">
  <%= render "channels/header", messageable: @channel %>

  <%= render "channels/banner", channel: @channel %>

  <div class="messages"
       data-controller="message-list"
       data-message-list-target="messages"
       data-channel-target="messages"
       data-message-list-channel-id-value="<%= @channel.id %>"
       data-message-list-history-url-value="<%= channel_messages_path(@channel) %>"
       data-message-list-has-more-value="<%= @has_more %>"
       data-message-list-oldest-id-value="<%= @oldest_id %>">
    <div class="loading-indicator -hidden" data-message-list-target="loadingIndicator">
      Loading older messages...
    </div>
    <div id="messages" data-message-list-target="container">
      <%= render partial: "messages/message", collection: @messages %>
    </div>
    <div class="new-messages-indicator -hidden" data-message-list-target="newIndicator" data-action="click->message-list#scrollToNew">
      New messages below
    </div>
  </div>

  <%= render "channels/input", messageable: @channel %>
</div>

<% content_for :userlist do %>
  <%= render "channels/user_list", channel: @channel %>
<% end %>
