<header class="header">
  <div class="info">
    <%= render "shared/connection_indicator", server: server %>
    <div class="details">
      <div class="title">
        <%= link_to server.address, server_path(server), class: "address" %>
        <% if server.ssl? %>
          <span class="badge -ssl">SSL</span>
        <% end %>
      </div>
      <div class="meta">
        <% if server.connected? %>
          as <%= server.nickname %> &bull; port <%= server.port %>
        <% else %>
          Disconnected
        <% end %>
      </div>
    </div>
  </div>
  <div class="actions">
    <% if server.connected? %>
      <%= button_to "Disconnect", server_connection_path(server), method: :delete, class: "link -danger" %>
    <% else %>
      <%= button_to "Connect", server_connection_path(server), method: :post, class: "button -primary" %>
    <% end %>
  </div>
</header>
