<%= turbo_stream_from @server %>
<div class="server-view">
  <header class="header">
    <div class="info">
      <h1 class="address"><%= @server.address %>:<%= @server.port %></h1>
      <% if @server.ssl %>
        <span class="badge">SSL</span>
      <% end %>
      <p class="nickname" id="<%= dom_id(@server, :nickname) %>">as <strong><%= @server.nickname %></strong></p>
    </div>
    <%= render "servers/status", server: @server %>
  </header>

  <%= render "servers/actions", server: @server %>

  <%= render "servers/join", server: @server %>

  <%= render "servers/channels", server: @server, channels: @channels %>

  <section class="messages">
    <details>
      <summary>Server Messages</summary>
      <div class="list">
        <% @server_messages.each do |msg| %>
          <div class="row">
            <span class="time"><%= msg.created_at.strftime("%H:%M:%S") %></span>
            <span class="content"><%= msg.content %></span>
          </div>
        <% end %>
      </div>
    </details>
  </section>
</div>
