<%= turbo_stream_from "sidebar_#{Current.user.id}" %>
<% current_user_servers.each do |server| %>
  <div class="servergroup" data-qa="server-group">
    <div class="servername">
      <span class="connection-indicator <%= server.connected? ? '-connected' : '-disconnected' %>"></span>
      <%= link_to server.address, server_path(server), class: "link", data: { qa: "server-link" } %>
    </div>

    <div class="dm-section" id="server_<%= server.id %>_dm_section">
      <div class="section-label">DMs</div>
      <ul class="dm-list" id="server_<%= server.id %>_dms">
        <% server.conversations.open.order(last_message_at: :desc).each do |convo| %>
          <%= render "shared/conversation_sidebar_item", conversation: convo %>
        <% end %>
      </ul>
    </div>

    <div class="channels-section" id="server_<%= server.id %>_channels_section">
      <div class="section-label">Channels</div>
      <ul class="channels" id="server_<%= server.id %>_channels">
        <% server.channels.joined.each do |channel| %>
          <%= render "shared/channel_sidebar_item", channel: channel %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
