<div class="login-form">
  <div class="card">
    <h1 class="title">Update your password</h1>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= form_with url: password_path(params[:token]), method: :put do |form| %>
      <div class="fields">
        <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "New password", maxlength: 72, class: "field" %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72, class: "field" %>
      </div>
      <%= form.submit "Save", class: "submit" %>
    <% end %>
  </div>
</div>
